.contact_back{
    width: 100%;
    .custom_heading{
        h2{
            text-transform: capitalize; font-size: 3.1rem;
        }
    }
    iframe{
        width: 100%; height: 61.2rem; margin-top: 5.5rem;
    }
}

.form_back{
    width: 100%; margin-top: 4rem;
    h4{
        color: #5c5c5c; font-size: 1.7rem; margin-bottom: 3rem;
    } 
    .radio_back{
        li{
            position: relative; padding-left: 0; cursor: pointer; margin-right: 2rem; 
            &:last-child{
                margin-right: 0;
            }
            label{
                color: #5c5c5c; font-size: 1.5rem;  cursor: pointer; margin: 0;
                
            }
            input[type="radio"]{
                opacity: 0; position: absolute; top: 0; left: 0;
            }
            input[type="radio"] + label span{
                width: 2rem; height:2rem ; border: #afb6be 2px solid; border-radius: 100%; cursor: pointer; position: relative; display: inline-block; vertical-align: middle; margin-right: 8px; position: relative; top: -1px;
                &::before{
                    width: 8px; height: 8px; background-color: #333f48; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 100%; content: ""; margin: auto; opacity: 0; transition: all .3s ease-in;
                }
            }
            input[type="radio"]:checked + label span{
                &::before{
                    opacity: 1;
                }
            }
        }
    }
    .main_form{
        width: 100%; margin-top: 3rem;
    }
    .portion{
        width: 100%; margin-bottom: 2rem;
       
        .text{
            width: 100%; height: 5.5rem; padding: 0 2rem; background-color: transparent; color: #030303; outline-style: none; border: #848787 1px solid; font-size: 1.4rem;
            &::placeholder{
                color: #5c5c5c;
            }
            &.textarea{
                height: 15rem; padding: 2rem; resize: none;
            }
        }
        select{
            width: 100%; height: 5.5rem; padding: 0 2rem; background-color: transparent; color: #030303; outline-style: none; border: #848787 1px solid; font-size: 1.4rem;
        }
        input[type="submit"]{
            height: 4.2rem; line-height: 3.9rem; color: #1e306e; background-color: #d2edf8; float: none; display: inline-block; cursor: pointer; outline-style: none; padding: 0 3rem; border: #d2edf8 2px solid; font-weight: 700; font-size: 1.5rem; text-transform: uppercase;
        }
    }
}

@media only screen and (max-width:767px){
    .form_back{
        h4{
            width: 100%; text-align: center;
        }
        .radio_back {
            justify-content: center;
        }
    }
}