footer{
    width: 100%; background-repeat: no-repeat; background-size: cover; position: relative; z-index: 1; padding: 8rem 0 5rem;
    &::before{
        width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,.9); content: ""; z-index: -1;
    }
    .portion{
        width: 100%; margin-bottom: 3rem;
        .logo{
            margin-bottom: 3rem; display: block;
            img{
                filter: grayscale(100%);
            }
        }
        p{
            color: #c0c0c0; font-size: 1.5rem; line-height: 3.1rem;
        }
        .social{
            margin-top: 4rem;
            li{
                margin-right: 2rem;
                a{
                    font-size: 1.8rem; color: #d2edf8; padding-right: 3rem; position: relative;
                    &::after{
                        position: absolute; top: 0; bottom: 0; right: 0; margin: auto; content: "|"; 
                    }
                }
                &:last-child{
                    a{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
        h2{
            color: #fff; font-size: 2.3rem; font-weight: 700; padding-bottom: 1.5rem; position: relative; text-transform: uppercase; margin-bottom: 3rem;
            &:after{
                width: 10.5rem; height: 3px; background-color: #4a4b4d; position: absolute; bottom: 0; left: 0; content: "";
            }
            &::before{
                width: 12px; height: 12px; background-color: #d2edf8; position: absolute; bottom: -4px; left: 0; content: ""; border-radius: 100%; z-index: 1;
            }
        }
        ul.ft_menu{
            width: 100%;
            &.con{
                li{
                    padding-left: 2rem; position: relative;
                    span{
                        position: absolute; top: 4px; left: 0;
                    }
                }
            }
            li{
                margin-bottom: 1.3rem; color: #c1c1c1; font-size: 1.5rem;
                span{
                    font-size: 1.8rem; margin-right: 8px;
                }
                a{
                    color: #c1c1c1; font-size: 1.5rem; text-transform: capitalize;
                   
                }
            }
        }
    }
}
.copyright{
    width: 100%; background-color: #4a4b4d; padding: 1.5rem 0; text-align: center; font-size: 1.5rem; color: #e1e1e1;
}