.property_back{
     background-image: url(../images/pro_bg.png); background-size: cover;
     .property_tab_back{
          width: 100%;
          .pro_menu{
               width: 100%; text-align: center; margin-top: 5rem;
               li{
                    display: inline-block; margin-left: -4px;
                    a{
                         padding: 1rem 2rem; color: #4a4b4d; text-transform: uppercase; display: block; border-bottom: #1e306e 2px solid; transition: all .2s ease-in-out;
                    }
                    &.active{
                         a{
                              background-color:#1e306e ; color: #fff;
                         }
                    }
               }
          }
          .tab_details_back{
               width: 100%; margin-top: 5rem;
               .portion{
                    width: 100%; background-color: #fff; padding: 2rem 2rem 4rem 2rem; position: relative; margin-bottom: 3rem;
                    .image_back{
                         width: 100%; height: 22.8rem; position: relative;
                         .main_image{
                              width: 100%; height: 100%; object-fit: cover;
                         }
                         .widget{
                              position: absolute; bottom: 0; left: 0; background-color: rgba(0,0,0,.24); padding: 1rem; width: 100%;
                              li{
                                   float: left; font-size: 1.3rem; color: #fff;
                                   img{
                                        margin-right: 1rem;
                                   }
                              }
                         }
                    }
                    .middle_details{
                         width: 100%; padding: 2rem 0;
                         h4{
                              color: #8b8b8b; font-size: 1.3rem;
                              span{
                                   color: #1e306e; margin-right: 8px;
                              }
                         }
                         h2{
                              color: #000; font-size: 1.9rem; font-weight: 700; margin: 1.7rem 0 2rem;
                         }
                         p{
                              color: #4a4b4d; font-size: 1.4rem; line-height: 2.4rem;
                              a{
                                   color:#1e306e ;
                              }
                         }
                         .widget_list{
                              width: 100%; flex-wrap: wrap; margin-top: 2rem;
                              li{
                                   flex: 0 0 42%; font-size: 12px; color: #4a4b4d; margin-bottom: 1rem;
                                   img{
                                        margin-right: 1rem;
                                   }
                              }
                         }
                         .bottom_list{
                              width: 100%; background-color: #d2edf8; position: absolute; bottom: 0; left: 0;
                              li{
                                   position: relative; 
                                   &:first-child{
                                        font-size: 1.4rem; z-index: 1; color: #fff; flex: 0 0 50%;
                                        &:before{
                                             width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: #1e306e; content: ""; z-index: -1; clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                                        }
                                   }
                                   padding: 1rem 2rem; color: #1e306e; font-size: 1.9rem; font-weight: 700; text-transform: uppercase;
                                   span{
                                        font-size: 1rem;
                                   }
                              }
                         }
                    }
               }
          }
     }
}

.load{
     display: none;
}
#loadMore, #showLess{
     display: none;
}
.button_back{
     width: 100%; text-align: center;
     img{
          margin-left: 2rem;
     }
     button{
          padding: 0 3rem;  font-weight: 700; display: block; font-size: 1.5rem;  text-decoration: none; outline-style: none; font-family: 'Open Sans', sans-serif;   text-transform: uppercase; text-align: center; transition: all .5s ease-in; border-radius: 8px;
          height: 4.2rem; line-height: 3.9rem; color: #1e306e; background-color: #d2edf8;  border: none; outline-style: none; margin-right: 1.5rem;
          &:last-child{
               margin-right: 0;
          }
     }
}